@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

h1 {
    color: white;
}

input  {
    width: 100%;
}

.box-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    font-family: Montserrat-VariableFont_wght;
    font-size: large;
}
#nome{
    color: #193655;
}

#air{
    font-size: large;
}

#fotohome{
    width: 60%;
    margin-top: 5%;
    border-radius: 30%;
}
.input-group {
    width: 30vw;
}

.inicio{
    display: flex;
}

#textohome{
    font-family: Montserrat-VariableFont_wght;
    margin-left: 5%;
    margin-top: 20%;
    justify-content: center;
}

#botao{
    border-color: #193655;
    background-color: #193655;
}

#botaoprocurar{
    border-color: #193655;
    background-color: #193655;
}

#textotitulo{
    font-size: medium;
    color: #193655;
}
#botao a{
   text-decoration: none;
   color: white;
}

.container-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 25px 16px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 25px 16px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 25px 16px 14px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
} 

.container-output {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.image-world {
    max-width: 80%;
}
#pagina{
background-color: (#e0f7fa);
}
